.contact-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.contact-navlink10 {
  display: contents;
}
 
.contact-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.contact-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.contact-navlink11 {
  text-decoration: none;
}
 
.contact-navlink12 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-navlink13 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-navlink14 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-link1 {
  color: #ffffff;
  padding: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: #006994;
}
 
.contact-burger-menu {
  display: none;
}
 
.contact-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.contact-logo {
  height: 2rem;
}
 
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-links2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.contact-navlink15 {
  text-decoration: none;
}
 
.contact-navlink16 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-navlink17 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-navlink18 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.contact-link2 {
  color: #ffffff;
  padding: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-buttonradius);
  text-decoration: none;
  background-color: #006994;
}
 
.contact-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-container11 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1590649942161-2e7eb2032934?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE5MXx8TUVFVElOR3xlbnwwfHx8fDE3NDYxMzc2NzZ8MA&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
 
.contact-container12 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.67);
}
 
.contact-text10 {
  color: #ffffff;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
 
.contact-container13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
 
.contact-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-container15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 405px;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-container16 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
 
.contact-icon20 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text11 {
  font-weight: 600;
}
 
.contact-text12 {
  font-size: 25px;
  font-style: normal;
}
 
.contact-text13 {
  font-style: normal;
}
 
.contact-text14 {
  font-weight: 400;
}
 
.contact-text15 {
  font-weight: 400;
}
 
.contact-text16 {
  font-weight: 400;
}
 
.contact-container17 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
 
.contact-icon22 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text17 {
  font-weight: 600;
}
 
.contact-text18 {
  font-size: 25px;
  font-style: normal;
}
 
.contact-text19 {
  font-style: normal;
}
 
.contact-text20 {
  font-weight: 400;
}
 
.contact-container18 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
 
.contact-icon24 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text21 {
  font-style: normal;
}
 
.contact-text22 {
  font-size: 25px;
  font-weight: 600;
}
 
.contact-text23 {
  font-weight: 600;
}
 
.contact-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact-container20 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #00627e;
}
 
.contact-text25 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}
 
.contact-container21 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text26 {
  color: #ffffff;
}
 
.contact-textinput1 {
  width: 350px;
  height: auto;
}
 
.contact-container22 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text27 {
  color: #ffffff;
}
 
.contact-textinput2 {
  width: 350px;
}
 
.contact-container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text28 {
  color: #ffffff;
}
 
.contact-textinput3 {
  width: 350px;
  height: 117px;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 25px;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-buttonradius);
  justify-content: center;
  background-color: #23bbda;
}
 
.contact-text29 {
  color: rgb(255, 255, 255);
}
 
.contact-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-google-maps {
  width: 1083px;
  height: 374px;
}
 
.contact-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  justify-content: flex-start;
  background-color: #fbfbfb;
}
 
.contact-container27 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 405px;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text30 {
  color: #00627e;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
 
.contact-container28 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-icon27 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text31 {
  font-style: normal;
  font-weight: 600;
}
 
.contact-container29 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-icon30 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text32 {
  font-style: normal;
  font-weight: 600;
}
 
.contact-container30 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-icon32 {
  fill: #00627e;
  color: #00627e;
}
 
.contact-text33 {
  font-style: normal;
  font-weight: 600;
}
 
.contact-container31 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 405px;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text37 {
  color: rgb(0, 98, 126);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
 
.contact-container32 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-navlink19 {
  fill: rgb(0, 98, 126);
  color: #000000;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
 
.contact-container33 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-navlink20 {
  fill: rgb(0, 98, 126);
  color: #000000;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
 
.contact-container34 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-navlink21 {
  fill: rgb(0, 98, 126);
  color: #000000;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
 
.contact-container35 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-navlink22 {
  fill: rgb(0, 98, 126);
  color: rgb(0, 98, 126);
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
 
.contact-container36 {
  gap: var(--dl-layout-space-threeunits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  justify-content: flex-start;
  background-color: #9b9b9b;
}
 
.contact-container37 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-text38 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
 
.contact-link3 {
  display: contents;
}
 
.contact-icon34 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  padding: 6px;
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: none;
}
 
.contact-container38 {
  flex: 0 0 auto;
  width: 490px;
  height: auto;
  display: flex;
  align-items: flex-start;
}
 
.contact-container39 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-container40 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.contact-textinput4 {
  border-width: 0.5px;
}
 
.contact-button {
  color: #ffffff;
  border-width: 0px;
  background-color: #4e4e4e;
}
 
.contact-container41 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-navlink23 {
  display: contents;
}
 
.contact-image2 {
  width: 500px;
  object-fit: cover;
  text-decoration: none;
}
 
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-links2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-navlink15 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .contact-container11 {
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-position: center;
  }
  .contact-container12 {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .contact-container13 {
    flex-direction: column;
  }
  .contact-container15 {
    width: auto;
  }
  .contact-google-maps {
    width: auto;
    height: auto;
  }
  .contact-container26 {
    flex-direction: column;
  }
  .contact-container36 {
    flex-direction: column;
  }
  .contact-image2 {
    width: 314px;
    height: 58px;
  }
}
